/* WOS Helper Page Styles */
@import './wos-shared.css';

/* Helper Page Specific Styles */
.log-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.log-container>div {
  flex: 1;
  width: 50%;
}

.controls {
  margin-bottom: 20px;
}

.controls>div {
  margin: 10px 0;
}

#wos-game-log,
#twitch-chat-log {
  padding: 10px;
  border: 1px solid #c79cff;
  height: calc(100vh - 200px);
  width: 100%;
  overflow-y: auto;
  font-family: monospace;
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 1rem;
  color: #e1e4e8;
}

.log-container h3 {
  margin-left: 10px;
}

/* WOS Main Grid Layout */
.wos-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  gap: 10px 10px;
}

.wos-main-grid:has(.iframe-container:empty) {
  grid-template-columns: 1fr;
}

.wos-main-grid.chat-hidden .level-data-grid-container {
  grid-column: 1 / -1;
  /* spans both columns */
}

.level-data-grid-container {
  display: grid;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin: 20px;
  min-width: 320px;
  /* height: 50vh; */
}

.twitch-chat-frame {
  grid-column: 2 / 2;
  grid-row: 1 / 3;
  margin: 10px;
  /* width: 100%;
  height: 80vh; */
}

.iframe-container {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  min-height: 50vh;
  /* width: 100%;
  height: 50vh; */
}

.wos-plus-logs {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
}

#twitch-chat-widget {
  width: 100%;
  height: 90vh;
  min-width: 320px;
  min-height: 500px;
  border: none;
}

#wos-board-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* .hidden-letter {
  font-size: 1.875rem;
} */

.letters,
.letters-label {
  font-size: 3.0rem;
}

.daily-clear-container {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.made-by {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

h3 {
  margin: 10px 0;
}
